body {
  font-family: "Hanken Grotesk", sans-serif;
  height: 75vh;
  position: relative;
  margin: 0;
}
* {
  box-sizing: border-box;
}
section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  & > div:first-of-type {
    width: 300px;
    z-index: 1;
    background-image: linear-gradient(
      to bottom,
      hsl(252, 100%, 67%),
      hsl(241, 81%, 54%)
    );
    border-radius: 20px;
    text-align: center;
    color: white;
    & h3 {
      color: hsl(221, 100%, 96%);
    }
    .center {
      margin: 30px auto;
      background-image: linear-gradient(
        to bottom,
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 0)
      );
      border-radius: 50%;
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      & span {
        display: block;
        &:first-of-type {
          font-size: 50px;
          font-weight: 900;
        }
        &:last-of-type {
          opacity: 0.5;
        }
      }
    }
    & > span {
      font-weight: 900;
      font-size: 20px;
    }
    & p {
      width: 77%;
      margin: 20px auto;
      color: hsl(221, 100%, 96%);
      margin-bottom: 40px;
    }
  }
  .stats {
    width: 300px;
    background-color: white;
    border-radius: 0 20px 20px 0;
    padding: 20px;
    box-shadow: 1px 1px 17px 0 hsl(241, 100%, 89%);
    transform: translateX(-10px);
    & h3 {
      color: hsl(224, 30%, 27%);
    }
    & ul {
      list-style: none;
      padding: 0;
      & li {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        border-radius: 6px;
        & div:first-of-type {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        & div:last-of-type {
          color: hsl(224, 30%, 27%);
          font-weight: bold;
          & span {
            color: hsl(224, 30%, 27%);
            font-weight: 300;
          }
        }
      }
      & li:first-of-type {
        background-color: hsl(0 100% 67% /20%);
        & div:first-of-type {
          color: hsl(0, 100%, 67%);
        }
      }
      & li:nth-of-type(2) {
        background-color: hsl(39 100% 56% /20%);
        & div:first-of-type {
          color: hsl(39, 100%, 56%);
        }
      }
      & li:nth-of-type(3) {
        background-color: hsl(166 100% 37% /20%);
        & div:first-of-type {
          color: hsl(166, 100%, 37%);
        }
      }
      & li:last-of-type {
        background-color: hsl(234 85% 45% /20%);
        & div:first-of-type {
          color: hsl(234, 85%, 45%);
        }
      }
    }
    & a {
      text-decoration: none;
      background-color: hsl(224, 30%, 27%);
      padding: 15px 80px;
      display: block;
      width: fit-content;
      margin: 0 auto;
      color: white;
      font-size: 20px;
      border-radius: 100px;
      transition: 0.3s;
      &:hover {
        background-image: linear-gradient(
          to bottom,
          hsl(252, 100%, 67%),
          hsl(241, 81%, 54%)
        );
      }
    }
  }
}
@media (max-width: 768px) {
  section {
    flex-wrap: wrap;
    position: static;
    transform: none;
    margin: 0;
    & > div {
      flex-basis: 100%;
    }
    & div:first-of-type {
      border-radius: 0 0 20px 20px;
    }
    & div:last-of-type {
      box-shadow: none;
      padding: 0 20px;
      & a {
        width: auto;
        text-align: center;
      }
    }
  }
}
